/* Base
================================================== */
* {
    margin: 0;
    padding: 0;
}

.form { height: 100%; }

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #444;
    font-family: opensans, "Calibri Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
}

a, a:visited {
    color: #333;
    outline: 0;
    text-decoration: none;
}

a:hover, a:focus { color: #000; }

p a, p a:visited { line-height: inherit; }

a img { border: 0; }

ul { list-style-type: none; }


/* Typography
================================================== */

@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.eot?-txmuxo');
    src: url('../fonts/icomoon.eot?#iefix-txmuxo') format('embedded-opentype'),
         url('../fonts/icomoon.ttf?-txmuxo') format('truetype'),
         url('../fonts/icomoon.woff?-txmuxo') format('woff'),
         url('../fonts/icomoon.svg?-txmuxo#icomoon') format('svg');
}

@font-face {
    font-family: 'drop';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/drop.eot?-txmuxo');
    src: url('../fonts/drop.eot?#iefix-txmuxo') format('embedded-opentype'),
         url('../fonts/drop.ttf?-txmuxo') format('truetype'),
         url('../fonts/drop.woff?-txmuxo') format('woff'),
         url('../fonts/drop.svg?-txmuxo#icomoon') format('svg');
}

@font-face {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
/*url("../fonts/flaticon.woff") format("woff"),*/
         url("../fonts/flaticon.ttf") format("truetype"),
         url("../fonts/flaticon.svg") format("svg");
}

@font-face {
    font-family: "icon2";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icon2.eot");
    src: url("../fonts/icon2.eot#iefix") format("embedded-opentype"),
         url("../fonts/icon2.ttf") format("truetype"),
         url("../fonts/icon2.svg") format("svg");
}

@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Light.eot");
    src: url("../fonts/OpenSans-Light.eot#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Light.ttf") format("truetype");
}


h1, h2, h3, h4, h5, h6 {
    color: #47a3da;
    font-family: opensans, Calibri, Arial, sans-serif;
    font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 {
    color: #3D4F5D;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: .1em;
    margin-left: 15px;
    margin-top: 5px;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
    text-align: right;
}

h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

h5 {
    font-size: 17px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 10px 0 0px;
}

.smalltext { font-size: 12px; }

/* Desktop Menu Top
================================================== */

.navmenu li {
    display: inline;
    float: left;
    margin-top: 7px;
    width: 60px;
}

.navmenu li a {
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
    color: #3D4F5D;
    display: inline-block;
    position: relative;
    text-align: left;
    transition: background .1s ease-in-out;
}

.navmenu li a:hover {
    border: none;
    color: #5D9FCC;
}

.navmenu li.nav-current a {
    background: #3d4f5d;
    border-radius: 3px;
    border-right: none;
    color: #fff;
    padding-right: 5px;
}

.navmenu li a:before {
    -webkit-font-smoothing: antialiased;
    font-family: Flaticon;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    left: 0;
    speak: none;
    text-indent: 0;
    top: 0px;
    width: 100%;
}

.nav-text, .sub-nav-text {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    margin-left: 0px;
    padding-top: 0px;
}

/* Sub Menu 
================================================== */

.sub-nav li {
    display: block;
    margin-left: 20px;
    margin-top: 0px;
    padding: 5px;
    text-align: left;
}

.sub-nav li a {
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
    border: 1px solid #fff;
    color: #999;
    display: inline-block;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
    position: relative;
    transition: background .1s ease-in-out;
    width: 100px;
}

.sub-nav li.nav-current a {
    background: #3d4f5d;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

.sub-nav li.nav-current a:hover { border: none; }

.sub-nav li a:hover {
    border: 1px solid #eee;
    border-radius: 3px;
}

.page-nav-menu { margin-bottom: 10px;border-bottom: 1px solid #eee; }

.page-nav-menu li {
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px;
    padding: 5px;
    text-align: left;
}

.page-nav-menu li a {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #3d4f5d;
    display: inline-block;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
    position: relative;
}

.page-nav-menu li.nav-current a {
    background: #3d4f5d;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

.page-nav-menu li.nav-current a:hover { border: none; }

.page-nav-menu li a:hover {
    border: 1px solid #eee;
    border-radius: 3px;
}

.dash_left_second { margin-top: 30px; }

.dash_right_second { margin-top: 190px; }

/* Mobile Menu Top
================================================== */

.nav-bar-mobile {
    background: #3d4f5d;
    display: none;
    height: 30px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1001
}

.mobile-menu-left {
    float: left;
    width: 50%;
}

.mobile-menu-right {
    float: right;
    width: 50%;
}

.nav-menu-mobile {
    background: #3d4f5d;
    display: none;
    height: 310px;
    left: 0;
    margin-top: 20px;
    overflow: hidden;
    position: fixed;
    top: -310px;
    width: 100%;
    z-index: 1000;
}

.nav-menu-mobile a, .nav-menu-mobile a:visited {
    color: #fff;
    float: left;
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.nav-menu-mobile a:hover { }

.nav-menu-mobile a:active { }

.nav-menu-mobile.nav-menu-mobile-open { top: 0px; }

.nav-menu-mobile-push {
    left: 0;
    overflow-x: hidden;
    position: relative;
}

.nav-menu-mobile, .nav-menu-mobile-push {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* Confirm Slide In Top
================================================== */

.confirm-box-inner h4 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.confirm-box-inner {
    margin: 30px auto;
    width: 600px;
}

.confirm-box-btns {
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

.confirm-box-outer {
    background: #3d4f5d;
    color: #fff;

    left: 0;
    overflow: hidden;
    position: fixed;
    top: -300px;
    width: 100%;
    z-index: 1999;
}

.confirm-box-outer.confirm-box-outer-open { top: 0; }

.confirm-box-outer-push {
    left: 0;
    overflow-x: hidden;
    position: relative;
}

.confirm-box-outer, .confirm-box-outer-push {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* Gridviews
================================================== */

table {
    margin-bottom: 30px;
    margin-top: 0px;
}

Table.Gridview {
    border: none;
    white-space: nowrap;
    width: 100%;
}

.GridviewTable { border: none; }

.Gridview th {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #bbb;
    color: #666;
    padding: 3px 0 3px 10px;
    text-align: left;
}

.Gridview th a:link, a:visited {
    color: #666;
    text-decoration: none;
}

.Gridview td {
    border: none;
    padding: 5px 10px 5px 10px;
}

.Gridview tr {
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
    color: #666;
    text-align: left;
}

.Gridview .alt { background: #fafafa; }

.Gridview td a:link, .GridView td a:visited, td a:link, td a:visited {
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 5px;
    background: #eaeaea;
    border-radius: 3px;
    color: #3D4F5D;
    font-weight: 700;
    padding: 5px 10px;
    text-decoration: none;
}

.Gridview a:visited {
    background: #eaeaea;
    color: #3D4F5D;
}

.extraPad td { padding: 10px; }

Table.log {
    max-width: 900px;
    white-space: normal;
    word-wrap: break-word;
}

.log tr { border: none; }

.log td {
    max-width: 900px;
    padding: 2px;
}

Table.gv-confirm {
    margin-bottom: 5px;
    margin-top: -20px;
    width: 600px;
}

Table.gv_members {
    border-bottom: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    margin-left: 15px;
    margin-top: -5px;
    width: 780px;
}

Table.gv_parts {
    border-bottom: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    margin-left: 15px;
    margin-top: -5px;
    padding: 0;
    width: 1000px;
}

.gv_parts th {
    background-color: #eee;
    color: #47a3da;
}

Table.gv_vg {
    border-bottom: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    margin-left: 30px;
    margin-top: -5px;
    padding: 0;
    width: 1000px;
}

.gv_vg th {
    background-color: #666;
    color: #fff;
}

.hdlist td { padding: 0; }

.width_300 { width: 300px; }

.width_200 { width: 200px !important; }

.width_150 { width: 150px; }

.width_105 { width: 105px; }

.width_50 { width: 50px; }

.width_30 { width: 20px; }

.width_100 { width: 100px; }

.width_140 { width: 140px; }

.height_800 { height: 800px; }

.height_600 { height: 600px; }

.height_400 { height: 400px; }

.height_1200 { height: 1200px; }

.height_18 {
    height: 18px !important;
    margin-bottom: 0 !important;
}

.max_width300 {
    max-width: 300px;
    overflow: hidden;
}

.margin-bottom-10 { margin-bottom: 10px; }

.bold { font-weight: bold; }

.inline { display: inline !important; }

/* #Forms
================================================== */

.settings input[type="text"] { width: 390px; }

input[type="text"], input[type="password"], textarea, select {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #777;
    display: block;
    font-family: opensans, "Calibri Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 18px;
    margin: 0;
    max-width: 97%;
    outline: none;
    padding: 6px 4px;
    width: 97%;
}

#settings input[type="text"], input[type="password"], textarea, select { font-size: 14px; }

select { padding: 0; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border: 1px solid #3D4F5D;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    color: #444;
}

textarea { min-height: 60px; }

select { width: 100%; }

input[type="checkbox"] { display: inline; }

.searchbox { height: 35px; }

.textbox, .textboxsettings { height: 25px; }

.textbox_specs { height: 16px; }

.ddlist {
    font-size: 20px;
    height: 35px;
    width: 100%;
}

#settings .ddlist {
    font-size: 14px;
    height: 35px;
    width: 100%;
}

.descbox { height: 100px; }

.descboxboot { height: 800px; }

.sysprepcontent { height: 300px; }

.chkboxwidth { width: 10px; }

.small-boot-box { height: 200px; }

.txt-left { text-align: left; }

.log-view-box {
    font-size: 12px !important;
    height: 900px;
}

.label { font-size: 20px; }

.inventory-div {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Buttons
================================================== */

a.confirm_yes {
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    border-radius: 5px;

    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    width: 100px;
}

a.confirm_no {
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    border-radius: 5px;

    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    width: 100px;
}

a.confirm_yes:link, a.confirm_yes:visited, a.confirm_no:link, a.confirm_no:visited {

    font: normal 1em/1em Calibri, Arial;
    font-size: 24px;
    outline: none;
}

a.confirm { float: left; }

a.left { float: left; }

a.right { float: right; }

a.static-width {
    margin-right: 5px;
    margin-top: 0;
    text-align: center;
    width: 100px;
}

a.static-width-nomarg {
    margin-right: 5px;
    text-align: center;
    width: 100px;
}

a.generic-btn {
    background: #eaeaea;
    border-radius: 3px;
    padding: 10px;
}

a.help {
    background: #fff !important;
    float: right;
    width: 10px !important;
}

a.keygen {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #47a3da;
    margin: 5px;
    padding: 4px;
    text-align: center;
    width: 100px;
}

/* Toast Notifications
================================================== */

.toast-container {
  height: 20px; width: calc(100% - 400px);margin-top: 15px;margin-left: 50px;float: left;}




.toast-item {

    height: 20px;
    margin: 0;
    width: 100%;

}

.toast-item p {
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: -20px;

    background: #ffffe1;
    border: 1px solid #d3e2eb;
}

.toast-item-close {
    height: 100%;

    width: 100%;
}

.toast-type-success {
    
    color: #000;
    width:100%
}

.toast-position-top {

    
}


/* Misc
================================================== */

.denied_text {
    color: Red;
    font-size: 20px;
}

.total {
    color: #666;
    float: right;
    font-size: 16px;
    text-align: left;
}

.container:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.row:after, .clearfix:after { clear: both; }

.row, .clearfix { zoom: 1; }

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.settingsh2 { margin-bottom: 20px; }

.editor {
    bottom: 0;
    left: 0;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}

.version { font-size: 12px;color: #fff;margin-left: 10px; }
.version-right { font-size: 12px;color: #fff;float: right;margin-right:10px; }

.username {
    bottom: 0px;
    position: fixed;
    right: 10px;
}

/* Split Button*/

.split-btn .spb-toggle {
    background: #3D4F5D;
    color: #fff;
    font-size: 24px;
    padding: 7px 9px;
}

.spb-toggle:after {
    border-left: 1px solid #ddd;

    content: '\25BC';
    font-family: 'drop';
    font-size: 16px;
    margin-left: -10px;
    padding-left: 10px;
    position: absolute;
    top: 10px;
    width: 20px;
    z-index: 1004;
}


.spb-primary { }

.spb-secondary {
    border-bottom: 2px solid #3D4F5D;
    border-left: 1px solid #3D4F5D;
    border-right: 1px solid #3D4F5D;
}

.split-btn a { padding: 10px; }

.split-btn .spb-secondary a {
    background: #fff;
    border: none;
    color: #3d4f5d;
    padding: 10px;
}

.split-btn .spb-primary a {
    background: #3D4F5D;
    color: #fff;
    padding: 10px;
}

.split-btn .spb-secondary a:hover {
    background: #3d4f5d;
    color: #fff;
}


.spb-activeprimary a {

    background: #fff !important;
    border-left: 1px solid #3D4F5D;
    border-right: 1px solid #3D4F5D;
    border-top: 1px solid #3D4F5D;
    color: #3d4f5d !important;
    width: calc(100% - 20px) !important;
}

.spb-activeprimary a:hover {

    background: #3d4f5d !important;
    color: #fff !important;
}

.spb-inactiveprimary a {
    background: #3D4F5D !important;
    color: #fff !important;
}

.hover_row {
    background: #3d4f5d;
    color: #fff;
}





        	ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
		
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
				position: relative;
			top: 1px;
			background: #f9f9f9;
			color: black;
			font-weight: bold;
		}

		.tab-content{
			display: none;

		}

		.tab-content.current{
			display: inherit;
		}




.dropbtn {

    color: white;
    background: none;

    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#trigger-upload {
    margin-left: 10px;
   
}

 .qq-upload-button, #trigger-upload {
     background: #3D4F5D !important;
    color: #fff;
    font-size: 14px;
    padding: 7px 9px;
     border: none !important;
}
.qq-upload-button-hover {
    background: #3D4F5D;
}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}

  #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }