.nav li a.icon-logo:before {
    content: "CD";
    font-family: opensans, Calibri, Arial;
    font-size: 10px;
    margin-left: 50px;
}

.nav li a.icon-host:before, .sub-nav li a.icon-host:before {
    content: "\e017";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-group:before {
    content: "\e003";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-image:before {
    content: "\e009";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-user:before {
    content: "\e01f";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-task:before {
    content: "\e020";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-setting:before {
    content: "\e01c";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-global:before {
    content: "\e007";
    font-size: 2.0em;
    margin-left: 5px;
}

.nav li a.icon-logout:before {
    content: "\e01a";
    font-size: 2.0em;
    margin-left: 5px;
}

.help:before {
    color: #666;
    content: "\e001";
    font-family: "icon2";
    font-size: 40px;
    margin-top: 1px;
}

.icon-mobile-nav:before {
    color: #fff;
    content: "\e014";
    font-size: 48px;
    line-height: .5;
}

.icon-mobile-nav {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-family: 'Flaticon';
    font-size: 2em;
    line-height: 2;
    position: absolute;
    speak: none;
    text-decoration: none;
    top: 0;
}

.DashDiv a:before {
    -webkit-font-smoothing: antialiased;
    font-family: Flaticon;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    left: 0;
    speak: none;
    text-indent: 0;
    top: 0px;
    width: 100%;
}

.DashDiv a.icon-image:before {
    content: "\e009";
    font-size: 4.0em;
    margin-left: 5px;
}

.DashDiv a.icon-host:before {
    content: "\e017";
    font-size: 4.0em;
    margin-left: 5px;
}

.DashDiv a.icon-group:before {
    content: "\e003";
    font-size: 4.0em;
    margin-left: 5px;
}