.container {
    background: #fff;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0 0 0px;
    position: relative;
    width: 100%;
}

.file-menu {
    background: #2f3f4b;
    height: 20px;

}
.panel-top {
    flex: 0 0 auto;  /* only manually resize */
    height: 500px;
    width: 100%;                        
    display: block;
    height: 520px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

}
.splitter-horizontal {
    flex: 0 0 auto;
    height: 5px;
    background: url(../js/images/hsizegrip.png) center center no-repeat #535353;            
    cursor: row-resize;
}
.panel-bottom {
    flex: 1 1 auto; /* resizable */
    padding: 0px;

    background: #eee;

}

.content_container {
    background-color: #fff;
    display: block;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 1460px;
}

.task-footer {
    border-top:1px solid #2f3f4b;
    height: 600px;
    min-height: 50px;
    background: #c4d9e4;
   
    overflow: hidden;
    padding-bottom: 40px;
}
.sub-footer {
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.nav {
    background: #fff;
    border-bottom: 1px solid #3D4F5D;
    float: left;
    height: 40px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.content-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: inline;
    float: left;
    height: 100%;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: -20px;
    width: calc(100% - 201px);
}

.content-header {
    background: #fff;
    float: left;
    height: 45px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    padding-bottom: 8px;
    position: relative;
     border-bottom: 1px solid #eee;
    width: 100%;
    
}

.breadcrumb_container {
    background: #fff;
    color: black;
    display: inline;
    float: left;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0;
    top: 0px;
     width: calc(100% - 450px);
}

#content-main {
    background-color: #fff;
    display: inline;
    float: left;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0;
    position: relative;
    top: 0px;
    width: 100%;
}

.actions_container {
    float: right;
    margin-right: 30px;
    margin-top: 3px;

}

.container .column {
    display: inline;
    float: left;
    margin-right: 10px;
    color: #666;
}

.container .full.column {
    overflow-x: scroll;
    width: 990px;
}

.container .size-1.column { width: 500px; }

.container .size-2.column { width: 400px; }

.container .size-3.column { width: 350px; }

.container .size-4.column {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    width: 250px;
}

.container .size-5.column {
    margin-bottom: 10px;
    width: 290px;
}

.container .size-6.column {
    margin-left: 0;
    width: 350px;
}

.container .size-7.column {
    margin-bottom: 10px;
    margin-left: 0;
    width: 250px;
}

.container .size-8.column {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 120px;
}

.container .size-9.column {
    font-size: 18px;
    line-height: 30px;
    width: 400px;
}

.container .size-10.column {
    margin-bottom: 5px;
    width: 150px;
}

.container .size-11.column {
    float: right;
    margin-right: 0;
    width: 80px;
}

.container .size-12.column { width: 30px; }

.container .size-setting.column {
    margin-bottom: 10px;
    width: 420px;
}

.container .offset-1 { padding-left: 200px; }

.container .size-fullgrid.column {
   
    margin-top: 3px;
    overflow-x: auto;
    padding-top: 10px;
    width: calc(100% - 5px);
}

.column-left {
    float: left;
    width: 35%;
}

.column-right {
    float: right;
    width: 35%;
}

.column-center {
    display: inline-block;
    width: 30%;
}

.column-left-half {
    float: left;
    width: 40%;
}

.column-right-half {
    float: left;
    margin-left: 150px;
    width: 40%;
}

#title {
    float: left;
    margin-left: 50px;
    width: 400px;
}

.navmenu { float: right; }

#leftnav {
    border-bottom: 0;
    float: left;
    height: calc(100% - 20px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 165px;
    border-right: 1px solid #eee;
}

@media only screen and (min-width: 1251px) and (max-width: 1420px) {
    .content_container { width: 1300px;}
}

@media only screen and  (min-width: 1071px) and (max-width: 1250px) {
    .content_container { width: 1120px;  }

    .content-main { height: calc(100% - 165px);}
}

@media only screen and (min-width: 821px) and (max-width: 1070px) {

  .panel-top{ overflow: auto;}

    .content_container {
        height: auto;
        overflow-y: hidden;
        width: 780px;
             
    }

    .content-wrapper {
        margin-left: 0;
        top: 0;
        width: 100%;
          
    }

    .content-main { height: calc(100% - 165px);  }

    .container .size-fullgrid.column {
        overflow-x: auto;
        width: 100%;
    }

    .actions_container {
        margin-right: 0;
        margin-top: 0;
    }

    .sub-nav li {
        display: inline-block;
        margin-left: 0;
    }

    .sub-nav li a { width: auto; }

    #leftnav { width: 100%; }
}
    



@media only screen and (min-width: 680px) and (max-width: 820px) {
  .panel-top{ overflow: auto;}

    .content_container {
        height: auto;
        overflow-y: hidden;
        width: 660px;
        
    }

    .content-wrapper {
        margin-left: 0;
        top: 0;
        width: 100%;
    }

    .content-main { height: calc(100% - 165px); }

    .container .size-fullgrid.column {
        overflow-x: auto;
        width: 100%;
    }

    .mobi-hide-small { display: none; }

    .actions_container {
        margin-right: 0;
        margin-top: 0;
    }

    .sub-nav li {
        display: inline-block;
        margin-left: 0;
    }

    .sub-nav li a { width: auto; }

    #leftnav { width: 100%; }

    #title h1 {
        font-size: 18px;
        margin-left: 0;
        margin-top: 20px;
    }

    #title { width: auto; }

    .username { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 679px) {
  .panel-top{ overflow: auto;margin-top:10px}

    .content_container {
        height: auto;
        margin-top: 40px;
        overflow-y: hidden;
        width: 440px;
    }

    .content-wrapper {
        margin-left: 0;
        top: 0;
        width: 100%;
    }

    .content-header { display: none; }

    .container .size-fullgrid.column {
        overflow-x: auto;
        width: 100%;
    }

    .container .size-5.column { width: 100%; }

    .container .size-7.column {
        margin-left: 0;
        width: 100%;
    }

    .actions_container {
        margin-right: 0;
        margin-top: 0;
    }

    .nav { display: none; }

    .nav-bar-mobile { display: inline; }

    .nav-menu-mobile { display: inline; }

    .column-left, .column-center, .column-right { width: 100%; }

    .sub-nav-text { font-size: 18px; }

    .sub-nav li {
        display: inline-block;
        margin-left: 0;
    }

    .sub-nav li a { width: auto; }

    #leftnav { width: 100%; }

    .breadCrumb ul li { width: 100% }

    .breadCrumb ul li.first a { font-size: 24px; }

    a.actions {
        margin-left: 5px;
        width: 410px !important;
    }

    input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
    }

    Table.Gridview { width: 440px; }

    Table.gv-confirm { width: 440px; }

    .confirm-box-inner { width: 440px; }



    .mobi-hide-small { display: none; }

    .mobi-hide-smaller { display: none; }

    .username { display: none; }
}


@media only screen and (max-width: 479px) {
  .panel-top{ overflow: auto;margin-top:10px}

    .content_container {
        height: auto;
        margin-top: 40px;
        overflow-y: hidden;
        width: 300px;
    }

    .content-wrapper {
        margin-left: 0;
        top: 0;
        width: 100%;
    }

    .content-header { display: none; }

    .container .size-fullgrid.column {
        overflow-x: auto;
        width: 100%;
    }

    .container .size-7.column {
        margin-left: 0;
        width: 98%;
    }

    .nav { display: none; }

    .nav-bar-mobile { display: inline; }

    .nav-menu-mobile { display: inline; }

    .page-nav-menu { margin-top: 10px; }

    .page-nav-menu li { width: 100%; }

    .sub-nav li {
        font-size: 18px;
        width: 100%;
    }

    .sub-nav-text { font-size: 18px; }

    .actions_container {
        margin-right: 0;
        margin-top: 0;
    }

    .sub-nav li {
        display: inline-block;
        margin-left: 0;
    }

    .sub-nav li a { width: auto; }

    #leftnav { width: 100%; }

    .column-left, .column-center, .column-right { width: 100%; }

    .breadCrumb ul li { width: 100% }

    .breadCrumb ul li.first a { font-size: 24px; }

    a.actions {
        margin-left: 5px;
        width: 250px;
    }

    input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
    }

    Table.Gridview { width: 300px; }

    Table.gv-confirm { width: 300px; }

    .confirm-box-inner { width: 300px; }

    a.confirm_yes { width: 75px; }

    a.confirm_no { width: 75px; }

    .confirm-box-btns { width: 300px; }


    .mobi-hide-small { display: none; }

    .mobi-hide-smaller { display: none; }

    .mobi-hide-smallest { display: none; }

    .username { display: none; }
}