button { overflow: visible; }

button,
select { text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn {
    -moz-user-select: none;
    -ms-touch-action: manipulation;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 12px 14px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap; 
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn { pointer-events: none; }

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-default:focus,
.btn-default.focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    color: #333;
}

.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #333;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { background-image: none; }

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    background-color: #333;
    color: #fff;
}

.btn-primary {
    background-color: #3D4F5D;
    border-color: #fff;
    color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: #286090;
    border-color: #fff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #fff;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #286090;
    border-color: #fff;
    color: #fff;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #204d74;
    border-color: #fff;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary { background-image: none; }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    background-color: #fff;
    color: #337ab7;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success:focus,
.btn-success.focus {
    background-color: #449d44;
    border-color: #255625;
    color: #fff;
}

.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    background-color: #398439;
    border-color: #255625;
    color: #fff;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success { background-image: none; }

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    background-color: #fff;
    color: #5cb85c;
}

.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.btn-info:focus,
.btn-info.focus {
    background-color: #31b0d5;
    border-color: #1b6d85;
    color: #fff;
}

.btn-info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    background-color: #269abc;
    border-color: #1b6d85;
    color: #fff;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info { background-image: none; }

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    background-color: #fff;
    color: #5bc0de;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.btn-warning:focus,
.btn-warning.focus {
    background-color: #ec971f;
    border-color: #985f0d;
    color: #fff;
}

.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    background-color: #d58512;
    border-color: #985f0d;
    color: #fff;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning { background-image: none; }

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    background-color: #fff;
    color: #f0ad4e;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-danger:focus,
.btn-danger.focus {
    background-color: #c9302c;
    border-color: #761c19;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    background-color: #ac2925;
    border-color: #761c19;
    color: #fff;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger { background-image: none; }

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger .badge {
    background-color: #fff;
    color: #d9534f;
}

.btn-link {
    border-radius: 0;
    color: #337ab7;
    font-weight: normal;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    -webkit-box-shadow: none;
    background-color: transparent;
    box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active { border-color: transparent; }

.btn-link:hover,
.btn-link:focus {
    background-color: transparent;
    color: #23527c;
    text-decoration: underline;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3333333;
    padding: 10px 16px;
}

.btn-sm,
.btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.btn-xs,
.btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block { margin-top: 5px; }

.btn-group,
.btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    float: left;
    position: relative;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active { z-index: 2; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group { margin-left: -1px; }

.btn-toolbar { margin-left: -5px; }

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group { float: left; }

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group { margin-left: 5px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0; }

.btn-group > .btn:first-child { margin-left: 0; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn-group { float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle { outline: 0; }

.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn .caret { margin-left: 0; }

.btn-lg .caret {
    border-bottom-width: 0;
    border-width: 5px 5px 0;
}

.dropup .btn-lg .caret { border-width: 0 5px 5px; }

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
}

.btn-group-vertical > .btn-group > .btn { float: none; }

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
    margin-left: 0;
    margin-top: -1px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0; }

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group-justified {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}

.btn-group-justified > .btn-group .btn { width: 100%; }

.btn-group-justified > .btn-group .dropdown-menu { left: auto; }

.dropdown-menu {
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}

.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857143;
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #337ab7;
    color: #fff;
    outline: 0;
    text-decoration: none;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus { color: #777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-decoration: none;
}

.open > .dropdown-menu { display: block; }

.open > a { outline: 0; }

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    display: inline-block;
    height: 0;
    line-height: 1.42857143;
    margin-left: 1px;
    vertical-align: middle;
    width: 0;
}


.btn > .caret,
.dropup > .btn > .caret { border-top-color: #000 !important; }