.form { height: 100%; }

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #444;
    font-family: opensans, "Calibri Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    margin-right: 50px;
}

a, a:visited {
    color: #333;
    outline: 0;
    text-decoration: none;
}

a:hover, a:focus { color: #000; }

p a, p a:visited { color: blue; }

a img { border: 0; }

ul {
    list-style-type: none;
    padding-left: 20px;
}

p {
    line-height: 26px;
    margin-bottom: 15px;
}

pre { background: #eee; }

h1, h2, h3, h4, h5, h6 {
    font-family: opensans, Calibri, Arial, sans-serif;
    font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 {
    color: #3D4F5D;
    display: inline-block;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: .1em;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 5px;
    text-decoration: underline;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 8px;
}

h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

h5 {
    font-size: 17px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}


.navbar-fixed-left {
    border-radius: 0;
    border-right: 1px solid #000;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 250px;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    font-size: 16px;
    padding: 7px 0 7px 0;
    width: 208px;
}

.navbar-fixed-left + .container { padding-left: 250px; }

.container { margin: 10px 0 0 20px; }

li.nav-current a { color: blue; }

li.nav-current-sub a { color: red; }