/* Base
================================================== */
*{margin:0;padding:0;}
.form{ height: 100%;}
html, body {margin:0;padding:0;height: 100%;overflow-x: hidden;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
body{background:#fff;font-size:14px;font-family:opensans, "Calibri Light", "Helvetica Neue", Helvetica, Arial;color:#444;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}
a, a:visited { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }
a img{border: 0;}
ul{ list-style-type: none;}


/* Typography
================================================== */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-txmuxo');
	src:url('../fonts/icomoon.eot?#iefix-txmuxo') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-txmuxo') format('truetype'),
		url('../fonts/icomoon.woff?-txmuxo') format('woff'),
		url('../fonts/icomoon.svg?-txmuxo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	/*url("../fonts/flaticon.woff") format("woff"),*/
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "icon2";
	src: url("../fonts/icon2.eot");
	src: url("../fonts/icon2.eot#iefix") format("embedded-opentype"),
	url("../fonts/icon2.ttf") format("truetype"),
	url("../fonts/icon2.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face
{
    font-family:opensans;
    src: url("../fonts/OpenSans-Light.eot");
	src: url("../fonts/OpenSans-Light.eot#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{font-family:opensans, Calibri, Arial, sans-serif;color:#47a3da;font-weight:normal;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit;}
h1{display:block;font-weight:normal;font-size:2em;text-transform:uppercase;letter-spacing:.3em;padding:0 0 .6em;margin-top:0px;font-size:40px;}
h2{font-size:35px;line-height:40px;margin-bottom:10px;}
h3{font-size:28px;line-height:34px;margin-bottom:8px;text-align:right;}
h4{font-size:21px;line-height:30px;margin-bottom:4px;}
h5{font-size:17px;line-height:24px;}
h6{font-size:14px;line-height:21px;}
hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:10px 0 0px;height:0;}

/* Desktop Menu Top
================================================== */
.nav li { display: inline;width: 60px;float: left;margin-top: -9px;}
.nav li a{display: inline-block; width:60px;text-align: left;color:#fff;position:relative;-webkit-transition:background .1s ease-in-out;-moz-transition:background .1s ease-in-out;transition:background .1s ease-in-out;}
.nav li a:hover{color:#fff;border: none;}
.nav li:first-child a{color:#47a3da;border: none;background: #47a3da;}
.nav li.nav-current a{background:#fff;color:#444;border-right:none;}
.nav li a:before{font-family:Flaticon;speak:none;font-style:normal;font-weight:normal;text-indent:0;position:absolute;top:-5px;left:0;width:100%;height:100%;font-size:1em;-webkit-font-smoothing:antialiased;}
.nav-text, .sub-nav-text{padding-top:0px;display:inline-block;margin-left: 0px;font-size: 18px; }

/* Sub Menu 
================================================== */

.sub-nav li{ margin-top: 0px;display: inline-block;padding: 0 10px 0 10px;border-right: 1px solid #eee;}
.sub-nav li a{ font-weight: 500; display:inline-block;height:1.5em;width:100%;line-height:20px;color:#c94121;position:relative;-webkit-transition:background .1s ease-in-out;-moz-transition:background .1s ease-in-out;transition:background .1s ease-in-out;margin-bottom: 5px;}
.sub-nav li.nav-current a{color:#333;font-weight: 700;}

/* Mobile Menu Top
================================================== */
.nav-bar-mobile {display:none;position: relative;overflow-y: hidden;top: 7px;left: 0;height: 30px;width:100%;list-style-type: none;margin: 0;padding: 0;}
.mobile-menu-left{float:left;width:50%;}
.mobile-menu-right{float:right;width:50%;}
.nav-menu-mobile{background:#47a3da;position:fixed;width:100%;height:300px;left:0;z-index:1000;overflow:hidden;top:-300px;}
.nav-menu-mobile a{float:left;width:100%;padding:20px 0;text-align:center;font-size:2em;}
.nav-menu-mobile a:hover{background:#258ecd;}
.nav-menu-mobile a:active{background:#afdefa;color:#47a3da;}
.nav-menu-mobile.nav-menu-mobile-open{top:0px;}
.nav-menu-mobile-push{overflow-x:hidden;position:relative;left:0;}
.nav-menu-mobile,.nav-menu-mobile-push{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}


/* Confirm Slide In Top
================================================== */
.confirm-box-inner h4{color:#fff;text-align:center;margin-bottom: 30px;}
.confirm-box-inner{margin:30px auto;width:600px;}
.confirm-box-btns{width:350px;margin:0 auto;text-align:center;}
.confirm-box-outer{background:#444;position:fixed;color:#fff;top:-200px;width:100%;height:200px;left:0;z-index:1999;overflow:hidden;}
.confirm-box-outer.confirm-box-outer-open{top:0;}
.confirm-box-outer-push{overflow-x:hidden;position:relative;left:0;}
.confirm-box-outer,.confirm-box-outer-push{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}

/* Gridviews
================================================== */
table{margin-bottom:30px;margin-top:0px;}
Table.Gridview{border:none;white-space:nowrap; width:100%;}
.GridviewTable{border:none;}
.Gridview th{text-align:left;color:#666;border: none; border-bottom: 1px solid #bbb;background-color:#fff;padding: 3px 0 3px 10px;}
.Gridview th a:link,a:visited{color:#666;text-decoration:none;}
.Gridview td{border:none;padding: 5px 10px 5px 10px;}
.Gridview tr{color:#666;background-color:white;text-align:left;border-bottom:1px solid #f5f5f5;}
.Gridview .alt{background:#fafafa;}
.Gridview td a:link, .GridView td a:visited {color:white;text-decoration:none;background:#c94121;-webkit-border-radius:5px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:5px 10px;}
.Gridview a:visited {background:#c94121;color: #fff; }

Table.log{white-space:normal; word-wrap:break-word;max-width: 900px;}
.log tr {border:none; }
.log td {padding:2px;max-width: 900px; }

Table.gv-confirm { width:600px; }
Table.gv_members{margin-left:15px;border-left:2px solid #e8e8e8;border-bottom:2px solid #e8e8e8; margin-top:-5px; width:780px;}
Table.gv_parts{margin-left:15px;border-left:2px solid #e8e8e8;border-bottom:2px solid #e8e8e8; margin-top:-5px; width:1000px; padding:0;}
.gv_parts th {background-color:#eee; color:#47a3da;}

Table.gv_vg{margin-left:30px;border-left:2px solid #e8e8e8;border-bottom:2px solid #e8e8e8; margin-top:-5px; width:1000px; padding:0;}
.gv_vg th {background-color:#666; color:#fff;}

.hdlist td{padding:0;}

.width_300{width:300px;}
.width_200{width:200px !important;}
.width_150{width: 150px;}
.width_105{width:105px;}
.width_50{width:50px;}
.width_30{width:20px;}

.height_800{ height: 800px;}
.height_600{ height: 600px;}
.height_400{ height: 400px;}
.inline { display: inline !important;}

/* #Forms
================================================== */
.settings input[type="text"]{width:390px;}
input[type="text"],input[type="password"],textarea,select{border:1px solid #ccc;padding:6px 4px;outline:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-family:opensans, "Calibri Light", "Helvetica Neue", Helvetica, Arial;font-size:18px;color:#777;margin:0;width:97%;max-width:97%;display:block;margin-bottom:10px;background:#fff;}
#settings input[type="text"],input[type="password"],textarea,select{font-size:14px; }
select{padding:0;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border:1px solid #aaa;color:#444;-moz-box-shadow:0 0 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2);}
textarea{min-height:60px;}
select{width:100%;}
input[type="checkbox"]{display:inline;}
.searchbox {height:35px; }
.textbox,.textboxsettings{height:25px;}
.textbox_specs{height:16px;}
.ddlist{height:35px;width:100%;font-size:20px;}
#settings .ddlist{height:35px;width:100%;font-size:14px;}
.descbox{height:100px;}
.descboxboot{height:800px;}
.sysprepcontent{ height: 300px;}
.chkboxwidth{width:10px;}
.small-boot-box{height:200px; }
.txt-left{ text-align: left;}
.log-view-box{ font-size: 12px !important;height: 900px;}
.label { font-size: 20px; }
.inventory-div { font-weight: bold;margin-bottom: 15px;}

/* Buttons
================================================== */
a.confirm,a.submits,input[type="submit"]{text-align: center;background:#eee;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color: #666;display:inline-block;text-decoration:none;cursor:pointer;margin-bottom:3px;line-height:normal;padding:15px 10px; font-size:18px;width: 200px;}
a.confirm:hover,a.submits:hover,input[type="submit"]:hover,a.boot-active{color:#fff;background:#47a3da;-webkit-transition:background .2s ease-in-out;-moz-transition:background .2s ease-in-out;transition:background .2s ease-in-out;}
a.confirm:active,a.submits:active,input[type="submit"]:active{background:#ccc;}
a.confirm{float:right;}
a.confirm_yes{width:100px;display:inline-block;background-color:#fff;padding:15px 30px;color:#47a3da;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;text-decoration:none; }
a.confirm_no{width:100px;display:inline-block;background-color:#fff;padding:15px 30px;color:#47a3da;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;text-decoration:none; }
a.confirm_yes:link,a.confirm_yes:visited,a.confirm_no:link,a.confirm_no:visited{color:#47a3da;outline:none;font:normal 1em/1em Calibri , Arial;font-size:24px;}
a.submits{float: left;}
a.left {float:left;}
a.right { float: right;}
a.static-width{ width:100px; text-align:center; margin-right:5px; margin-top:0; }
a.static-width-nomarg{ width:100px; text-align:center; margin-right:5px; }
a.actions { width: 175px;text-align: center;margin-left: 8px;margin-bottom: 7px;}
.green { background: #47d890 !important;color: white !important;}
a.green:hover{ color: #666 !important;}
a.help { width: 10px !important;background: #fff !important;float: right;}

/* Toast Notifications
================================================== */
.toast-container{width:100%;z-index:9999;}
.toast-container{position:absolute;}
.toast-item{height:100%;padding: 0 6px 20px 6px;display:block;position:relative;margin:0;}
.toast-item p{text-align:center;font-size:18px; color:#fff;}
.toast-item-close{width:100%;height:100%; position:absolute;}
.toast-type-success{color:#fff;background:#444;}
.toast-position-top{position:fixed;top:0;}

/* Misc
================================================== */

.denied_text { font-size:20px; color:Red; }
.total {color:#666; font-size:16px; text-align:left; line-height:10px; float:right}
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.row:after,.clearfix:after{clear:both;}
.row,.clearfix{zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.settingsh2{margin-bottom:20px;}
.editor {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
}






