.container{position:relative;width:100%;margin:0;padding:0 0 0 0px;height: 100%;overflow-x:hidden;overflow-y:hidden;background: #fff;}
.content_container{position:relative;display: block;background-color:#fff;width: 1460px;margin: 0 auto;height: 100%;overflow-x:hidden;overflow-y:hidden;}
.nav{position:relative;float: left;overflow:hidden;top:0;left:0;height:35px;width:100%;list-style-type:none;margin: 0;padding:0;background:#47a3da;}
.content-wrapper{display: inline;position:relative;float:left; top: -20px;width:calc(100% - 241px);background-color: #fff;border-bottom: 1px solid #eee; overflow-x:hidden;overflow-y:hidden;height:100%;margin-left: 10px; }
.content-header{position:relative;float: left;overflow:hidden;top:0;left:0;height:75px;width:100%;list-style-type:none;margin: 0;padding:0;background:#fff;border-bottom: 1px solid #eee;padding-bottom: 5px;}
.breadcrumb_container{display: inline;position:relative;float:left;right: 0;width:100%;overflow-x:hidden;overflow-y:hidden;top: 0px;color: black;height: 30px;background: #fff;margin-bottom: 20px;margin-left: -5px;}
.content-main{top: 0px; display: inline;position:relative;float:left;width: 100%;background-color: #fff;overflow-x:hidden;overflow-y:visible;height:calc(100% - 140px);padding: 20px 0 0 0;}
.actions_container{display: inline;position:relative;float: left; width:230px;overflow-x:hidden;overflow-y:auto;top:0px;color: black;background:#fff;height: 100%;border-left: 1px solid #eee;}
.help_pos{ position: absolute;bottom: 40px;width: 180px;}

.container .column{float:left;display:inline;margin-right:10px;}
.container .full.column{width:990px;overflow-x:scroll;}
.container .size-1.column{width:500px;}
.container .size-2.column{width:400px;}
.container .size-3.column{width:350px;}
.container .size-4.column{width:230px;color:#666;font-size:18px;}
.container .size-5.column{width:290px;}
.container .size-6.column{width:350px;margin-left:0;}
.container .size-7.column{width:250px; margin-left:0;}
.container .size-8.column{width:120px; margin-left:0; color:#666;font-size:18px;margin-bottom: 10px;}
.container .size-9.column{ width: 400px;font-size: 18px;line-height: 30px;}
.container .size-10.column { width: 100px;}
.container .size-setting.column{width:420px;}
.container .offset-1{padding-left:200px;}
.container .size-fullgrid.column{ width:calc(100% - 5px);overflow-x: auto;}



@media only screen and (min-width: 1251px) and (max-width: 1420px) {
.content_container{width: 1300px;}
.content-main{ background: gray;}
}


@media only screen and  (min-width: 1071px) and (max-width: 1250px) {
.content_container{width: 1120px;}
.content-main{ background: orange;}
.content-header { height: 100px;}
.content-main {height:calc(100% - 165px);}
}

@media only screen and (min-width: 821px) and (max-width: 1070px) {
body{ overflow-x: initial; }
.form{ height: auto;}
.content_container{width: 780px;overflow-y: hidden;height: auto;}
.content-wrapper{ width: 100%; margin-left:0}
.content-header { height: 100px;}
.content-main{ background: blue;}
.content-main {height:calc(100% - 165px);}
.actions_container{ width: 100%;}
.help_pos{ position: relative;bottom: 0;float: right;margin-right: 20px;}
.container .size-fullgrid.column{width: 100%;overflow-x: auto;}

}
    



@media only screen and (min-width: 680px) and (max-width: 820px) {
body{ overflow-x: initial; }
.form{ height: auto;}
.content_container{width: 660px;overflow-y: hidden;height: auto;}
.content-wrapper{ width: 100%; margin-left:0}
.content-header { height: 100px;}
.content-main{ background: pink;}
.content-main {height:calc(100% - 165px);}
.actions_container{ width: 100%;}
.help_pos{ position: relative;bottom: 0;float: right;margin-right: 20px;}
.container .size-fullgrid.column{width: 100%;overflow-x: auto;}
.mobi-hide-small{display:none;}

}

@media only screen and (min-width: 480px) and (max-width: 679px) {
body{ overflow-x: initial; }
.form{ height: auto;}
.content_container{ width: 440px;overflow-y: hidden;height: auto;margin-top: 40px; }
.content-wrapper{ width: 100%; margin-left:0}
.content-header { height: 100%;}
.content-main{ background: yellow;}
.actions_container{ width: 100%;border: none;}
.help_pos{ position: relative;bottom: 0;float: right;margin-right: 20px;}
.container .size-fullgrid.column{width: 100%;overflow-x: auto;}
.container .size-5.column{width:100%;}
.container .size-7.column{width:100%; margin-left:0;}

.nav{display:none;}
.nav-bar-mobile{display:inline;}
.nav-menu-mobile{ display: inline;}
.sub-nav li { width: 100%;font-size: 18px;}
.sub-nav-text{ font-size: 18px;}


.breadCrumb ul li {width:100%}
.breadCrumb ul li.first a{ font-size: 24px;}
a.actions{ width: 410px !important;margin-left: 5px;}

input[type="text"]{width:100%;margin-bottom:15px;}
Table.Gridview{width:440px;}
Table.gv-confirm{width:440px;}
.confirm-box-inner {width:440px; }



.mobi-hide-small{display:none;}
.mobi-hide-smaller{display:none;}


}


@media only screen and (max-width: 479px) {
body{ overflow-x: initial; }
.form{ height: auto;}
.content_container{ width: 300px;overflow-y: hidden;height: auto;margin-top: 40px;}
.content-wrapper{ width: 100%; margin-left:0}
.content-header { height: 100%;}
.content-main{ background: gray;}
.actions_container{ width: 100%;border: none;}
.help_pos{ position: relative;bottom: 0;float: right;margin-right: 20px;}
.container .size-fullgrid.column{width: 100%;overflow-x: auto;}
.container .size-5.column{width:100%;}
.container .size-7.column{width:100%; margin-left:0;}

.nav{display:none;}
.nav-bar-mobile{display:inline;}
.nav-menu-mobile{ display: inline;}
.sub-nav li { width: 100%;font-size: 18px;}
.sub-nav-text{ font-size: 18px;}


.breadCrumb ul li {width:100%}
.breadCrumb ul li.first a{ font-size: 24px;}
a.actions{width: 270px; margin-left: 5px;}

input[type="text"]{width:100%;margin-bottom:15px;}
Table.Gridview{width:300px;}
Table.gv-confirm{width:300px;}
.confirm-box-inner {width:300px; }

a.confirm_yes{width:75px; }
a.confirm_no{width:75px; }
.confirm-box-btns {width:300px;}


.mobi-hide-small{display:none;}
.mobi-hide-smaller{display:none;}
.mobi-hide-smallest{display:none;}
}


