.container{position:relative;width:100%;margin:0;padding:0 0 0 0px;height: 100%;overflow-x:hidden;overflow-y:hidden;background: #888;}
.nav{position:relative;float: left;overflow:hidden;top:0;left:0;height:35px;width:100%;list-style-type:none;margin: 0;padding:0;background:#323232;}
.content_container{position:relative;display: block;background-color:#888;width: 1460px;margin: 0 auto;height: 100%;overflow-x:hidden;overflow-y:hidden;}
.header_container{position:relative;display: inline-block;text-align: center;left:0px;background-color:#555;width:100%;height: 35px;}
.sub-nav_container{display: inline;position:relative;float:left;margin-right: 10px; width:250px;overflow-x:hidden;overflow-y:auto;top:-10px;color: black;background: #888; height:100%}
.content-right{display: inline;position:relative;float:left; top: -10px;width:calc(100% - 336px);background-color: #888;overflow-x:hidden;overflow-y:hidden;height:100%;left: 20px; }
.breadcrumb_container{display: inline;position:relative;float:left;right: 0;width:100%;overflow-x:hidden;overflow-y:hidden;top: 0px;border-right: 1px solid #eee;color: black;height: 30px;background: #888; margin-bottom:10px}
.actions{border-bottom: 12px solid #fafafa;float:left;background:#555;width:100%;height: 55px;}
.content-right-main{display: inline;position:relative;float:left;width:calc(100% - 20px);background-color: #fafafa;overflow-x:hidden;overflow-y:visible;height:77%;padding: 20px 0 0 20px; }






.spacer{ padding-bottom: 10px;}
.container .column{float:left;display:inline;margin-right:10px;}
.row{margin-bottom:20px;}
.container .full.column{width:990px;overflow-x:scroll;}
.container .size-1.column{width:500px;}
.container .size-2.column{width:400px;}
.container .size-3.column{width:350px;}
.container .size-4.column{width:230px;color:#666;font-size:18px;}
.container .size-5.column{width:290px;}
.container .size-6.column{width:350px;margin-left:0;}
.container .size-7.column{width:250px; margin-left:0;}
.container .size-8.column{width:120px; margin-left:0; color:#666;font-size:18px;margin-bottom: 10px;}
.container .size-9.column{ width: 400px;font-size: 18px;line-height: 30px;}
.container .size-10.column { width: 100px;}
.container .size-setting.column{width:420px;}
.container .offset-1{padding-left:200px;}



@media only screen and (min-width: 1251px) and (max-width: 1420px) {
.content_container{width: 1300px;}
.container .full.column{width:900px;}
}


@media only screen and  (min-width: 1071px) and (max-width: 1250px) {
.content_container{background: yellow;width: 1120px;}
.container .full.column{width:800px;}
}

@media only screen and (min-width: 971px) and (max-width: 1070px) {
.content_container{ background: blue;}
.container .full.column{width:700px;}
.container .size-2.column{width:300px;}
}
    
@media only screen and (min-width: 821px) and (max-width: 970px) {
.content_container{ background: green;}
.actions { height: 100px;}
.actions-right{ float: left;}
.container .full.column{width:550px}
.container .size-1.column{width:400px;}
.container .size-1.column h1{font-size:36px;}
.container .size-2.column{width:290px; }


}



@media only screen and (min-width: 680px) and (max-width: 820px) {

.content_container{width: 100%; background: orange;}
.actions { height: 130px;}
.actions-right{ float: left;}
.content-right{ width: calc(100% - 240px);}
.container{padding-left: 0;}
.container .full.column{width:400px;}
.container .size-2.column{width:350px;margin-top:20px;}

.nav{display:none;}
.nav-bar-mobile{display:inline;}

.nav-btn-square{padding-left:5px;}
.nav-btn-round a,.nav-btn-square a{width:4em;height:4em;margin:0 5px 2px 0;}
.nav-btn-square a:after,.nav-btn-round a:after{content:none;}
.mobi-hide-small{display:none;}
}

@media only screen and (min-width: 480px) and (max-width: 679px) {
.form{ height: auto;padding-top: 20px;}
.container{width:440px;margin:0 auto;padding-left: 0;}
.content_container{ width: 440px;overflow-y: hidden;height: auto; }
.content-right{ width: 440px;padding: 0;overflow-y: hidden;height: auto;}
.sub-nav_container{width: 100%;height: 100%;}
.container .column{margin-left:0;}
.container .full.column{width:440px; }
.container .size-1.column{width:440px;}
.container .size-2.column{width:350px;margin-top:20px;}
.container .size-4.column{ margin-left:0;}
.container .size-5.column{width:300px;margin:0 auto;}
.container .offset-1{padding-left:0;margin-top:0;padding-left:0;margin-top:0;float:right;}
.actions { height: 150px;width: 440px;}
.nav-btn-round { width: 440px;}
.nav-btn-square{float:left;width:428px;padding-left:12px;}
input[type="text"]{width:430px;margin-bottom:15px;}
Table.Gridview{width:440px;}
Table.gv-confirm{width:440px;}
.confirm-box-inner {width:440px; }

.nav{display:none;}
.nav-bar-mobile{display:inline;}
.nav-btn-round a,.nav-btn-square a{width:4em;height:4em;margin:0 5px 2px 0;}
.nav-btn-square a:after,.nav-btn-round a:after{content:none;}
.mobi-hide-small{display:none;}
.mobi-hide-smaller{display:none;}

.sub-nav-top li a{ width:100%}
}


@media only screen and (max-width: 479px) {
  .form{ height: auto;}
.container{width:300px;margin:0 auto;padding-left: 0;}
.content_container{ width: 300px;overflow-y: hidden;height: auto; }
.content-right{ width: 300px;padding: 0;overflow-y: hidden;height: auto;}
.sub-nav_container{width: 100%;height: 100%;margin: 0;padding: 0;}
.sub-nav-top li a{ width: 100%;text-align: center;padding: 0;margin: 0;}
.actions { height: 150px;width: 300px;}
.nav-btn-round { width: 440px;}

.container .column{margin-left:0;}
.container .full.column{width:300px;}
.container .size-1.column{width:300px;}
.container .size-2.column{width:280px;margin-top:20px;}
.container .size-4.column{margin-left:0;}
.container .size-6.column{margin-left:0; }
.container .offset-1{padding-left:0;margin-top:0;padding-left:0;margin-top:0;float:right;}
.nav-btn-square{padding-left:15px;}
input[type="text"]{width:290px;margin-bottom:15px; max-width:290px;}
input[type="password"]{width:290px;margin-bottom:15px;}
#settings .ddlist {width:300px;}
#settings .submits {float:left; }
Table.Gridview{width:302px;}
Table.gv-confirm{width:300px;}
.confirm-box-inner {width:300px; }

a.confirm_yes{width:75px; }
a.confirm_no{width:75px; }
.confirm-box-btns {width:300px;}

.nav{display:none;}
.nav-bar-mobile{display:inline;}
.nav-btn-round a,.nav-btn-square a{width:4em;height:4em;margin:0 5px 2px 0;}
.nav-btn-square a:after,.nav-btn-round a:after{content:none;}
.mobi-hide-small{display:none;}
.mobi-hide-smaller{display:none;}
.mobi-hide-smallest{display:none;}
}

@media screen and (max-height: 700px) {
.form{ height: auto;}

.nav{display:none;}
.nav-bar-mobile{display:inline;}
.container{ padding-left: 0;padding-top: 30px;}
}

